extends 2layout

block content
  <div id="4square"></div>
  <div id="out"></div>
  <div class="app">
  <div class="loading"></div>
  <div id="infobox" class="infobox"></div>
  <div id="map"></div>
  </div>
  </div>